# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual environment
venv/
.env/
*.env
.Python
pip-log.txt
pip-delete-this-directory.txt

# Pipenv
Pipfile.lock

# Django
db.sqlite3
media/
staticfiles/
*.log

# Migrations
migrations/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
